<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material" id="loginform" autocomplete="off" [formGroup]="registerForm" (ngSubmit)="createUser()">
                <br/>

                <h1 class="text-center CCSSS db">CCSSS</h1>

                <h3 class="box-title m-t-40 m-b-0">Register Now</h3><small>Create your account and enjoy</small>
                <div class="form-group m-t-20">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" formControlName="name" placeholder="Name">
                        <span *ngIf="formvalidations('name')" class="text-danger">The name is required</span>
                    </div>
                </div>
                <div class="form-group m-t-20">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" formControlName="lastName" placeholder="Last Name">
                        <span *ngIf="formvalidations('lastName')" class="text-danger">The last name is required</span>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" formControlName="email" placeholder="Email">
                        <span *ngIf="formvalidations('email')" class="text-danger">{{message}}</span>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" formControlName="password" placeholder="Password">
                        <span *ngIf="formvalidations('password')" class="text-danger">Please insert a password</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" formControlName="password2" placeholder="Confirm Password">
                        <span *ngIf="validPassword('password','password2')" class="text-danger">{{pwmessage}}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary p-t-0">
                            <input id="checkbox-signup" type="checkbox" formControlName="terms">
                            <label for="checkbox-signup"> I agree to all <a href="#">Terms</a></label><br/>
                            <span *ngIf="formvalidations('terms')" class="text-danger">Please accept terms and conditions</span>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-lg btn-block text-uppercase waves-effect waves-light" [ngClass]="{'disabled': registerForm.invalid && registerForm.touched, 'btn-info': registerForm.valid}" type="submit">Sign Up</button>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <p>Already have an account? <a routerLink="/login" class="text-info m-l-5"><b>Sign In</b></a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->